h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}

.name-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.div-lenght {
    width: 50%;
    padding-left: 2%;
    text-align: justify;
    margin-top: 15px;
    margin-left: 60px;
}

.div-lenght img {
    width: 80%;
    border-radius: 40%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 550;
    border-radius: 5px;
}

.dream-header {
    color: rgba(241, 173, 26, 0.89);
}

.dream-big {
    display: flex;
    text-align: justify;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.for-paragraph {
    margin-right: 21%;
}

.experience-section {
    margin-top: 150px;
}

.experience-list {
    width: 40%;
    padding-left: 2%;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 20px gray;
}

#experience-border {
    border-left: 7px solid;
    border-image: linear-gradient(purple tomato);
    border-image-slice: 1;
}

#experience-border2 {
    border-left: 7px salmon;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}

.experience-list p {
    margin-right: 15px;
}

.experience-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;
}